/* CSS Document */
* {
  box-shadow: 0px 0px 0px 1px red;
}
body {
   /* background-image: linear-gradient( to top, #000, #601979 ); */
   display: flex;
   margin: 0;
   flex-direction: column;
   padding: 0;
}


header  {
  background-image: linear-gradient( to top, #000, #601979 );
  display: flex;
  justify-content: space-between;
  max-height: 150px;  
}

nav {
  display: flex;
  width: 55%;
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  flex-grow: 1;
  
}

ul a{
 text-decoration: none;
 color: #ffffff;
}

.Logo img {
  max-width: 300px;
  max-height: 200px;
  margin-left: 5%;
  margin-top: -15%;
}


.carrossel {
  display: flex;
  flex-direction: column;
  max-height: 30%;
  margin-left: 5%;
  margin-right: 5%;
  transition: 1s;
}

.imagem{
  display: flex;
  justify-content: space-between;
}
.ConteinerImg{
  max-width: 30%;
}
.ConteinerImg img{
  width: 100%;
  transition: 1s;
  }

.botao{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .horario{
    text-align: center;
  }

  .horario section{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .horario section section{
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 25px;
    background-color: #AB58A5;
  }

  .dia{
    color: #ffffff;
  }

  .periodo{
    color: #6F0984;
    font-size: larger;
  }

  footer{
    background-color: #601979;
    color: #ffffff;
  }

  footer h4{
    font-size: large;
    margin-left: 20px;
  }

  footer section{
    display: flex;
  }

  footer section img{
    width: 7%;
    height: 7%;
  }

  #developed{
    display: flex;
    justify-content: flex-end;
    margin-left: 75%;
  }