/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');

/* * {
  	box-shadow: 0px 0px 0px 1px red;
} */

body {
	/* background-image: linear-gradient( to top, #000, #601979 ); */
	display: flex;
	margin: 0;
	flex-direction: column;
	padding: 0;
	color:#ffffff;
	background-color: #000000;
	font-family:Lexend Giga;
}

header {
	background-image: linear-gradient( to top, #000, #601979 );
	display: flex;
	justify-content: space-between;
	max-height: 150px;  
}

.label-menu,
.checkbox{
	display: none;
}

nav {
  	display: flex;
  	width: 55%;
}

ul {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
	font-size: 25px;
	flex-grow: 1;
}

ul a {
	text-decoration: none;
	color: #ffffff;
}

a {
  	text-decoration: none;
  	color: #ffffff;
	transition: 100ms;
}

#linkCardapio{
	padding: auto;
	margin-bottom: 0;
	height: 20rem;
}


#LinkCardapio a {
	text-decoration: none;
  	color: #ffffff;
	transition: 100ms;
}

a:hover {
  	font-size: 28px;
  	color: #BB6400;
	transition: 100ms;
}

#LinkCardapio a:hover {
	color: #BB6400;
	transition: 150ms;
}

.Logo img {
	max-width: 300px;
	max-height: 200px;
	margin-left: 5%;
	margin-top: -15%;
}

.titulo {
	text-align: center;
	font-size: 30px;
}

.sobreNosTexto {
	text-align: center;
	font-size: 25px;
	background-color: #601979;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding: 2%;
	border-radius: 25px;
}

.carrossel {
	display: flex;
	flex-direction: column;
	max-height: 30%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #601979;
	padding: 2%;
	border-radius: 25px;
}

.imagem {
  	display: flex;
  	justify-content: space-between;
}

.ConteinerImg {
  	max-width: 30%;
}

.ConteinerImg img {
  	width: 100%;
}

.botao {
	display: flex;
	justify-content: space-between;
	padding-left: 45%;
	padding-right: 45%;
	margin-top: 10px
}

#btnAvancar, #btnVoltar {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    background-color: #AB58A5;
    color: #601979;
    font-weight: bolder;
    padding: 6%;
}

.horario {
    text-align: center;
}

.horario section {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.horario section section {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 25px;
    background-color: #AB58A5;
}

.dia {
    color: #ffffff;
    font-size: 20px;
}

.periodo {
    color: #6F0984;
    font-size: 25px;
}

footer {
    background-image: linear-gradient(to bottom, #000000, #601979);
    color: #ffffff;
}

footer h4 {
    font-size: large;
    margin-left: 20px;
}

.contatos {
    padding-top: 20px;
}

footer section {
    display: flex;
}

footer section img {
    width: 150px;
    height: 100px;
}

#developed {
    text-align: center;
} 

.mapSection {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: linear-gradient(#000, #601979, #000 )
}

#maps {
    width: 85%;
    height: 350px;
    border: 0;
    margin: 1.5rem;
    display: flex;
    padding: #000, 5px;
}

#textoSobre{
    text-align: center;
    margin-bottom: 5rem;
}

#CampoCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
}

#PDFCardapio {
    display: flex;
    max-width: 50%;
    justify-content: center;
}

#PDFCardapio img{
    max-width: 50%;  
} 

#LinkCardapio {
    align-self: center;
}

#LinkCardapio a{
    color: #ffffff;
    text-decoration: none;
    font-size:x-large;  
}

@media (max-width: 900px){
  header{
		max-height: 90px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav{
		flex-grow: 0;
		width: auto;
		text-align: center;
	}
	.Logo {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		margin-left: 15%;
		align-items: center;
	}
	.Logo img {
		width: 70%;
		height: 100%;
		margin: 0;
	}
	ul{
		flex-direction: column;
		margin: 0;
		margin-top: 0.5rem;
		position: absolute;
		visibility: hidden; 
		right: 0rem;
		top: 4rem;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5 );
		padding-right: 2rem ;
	}
	ul li {
		margin-top: 1rem;
		font-size: 15px;
		text-align: center;
	}
	.label-menu{
		display: flex;
		align-items: center;
		gap: 0.5rem;
		color:var(#fff);
		padding-block: 1rem;
		cursor: pointer;
		margin-right: 2rem;
	}
	.hamburguer{
		border-top: 0.125rem solid;
		width: 1.25rem;
	}
	.hamburguer::before,
	.hamburguer::after{
		content: " ";
		display: block;
		width: 1.25rem;
		height: 0.125rem;
		background-color: currentColor;
		margin-top: 0.3125rem;
	}
  
	.checkbox:checked ~ ul{
		visibility: visible;
		padding: auto;
		margin-bottom: 2rem;
	}
  
	#CampoCardapio{
		margin-bottom: calc(100vh - 44rem) ;
		margin-top: 7rem;
	}

	#btnAvancar, #btnVoltar {
		justify-content: center;
		align-items: center;
		gap: 20px;
		border-radius: 20px;
		background-color: #AB58A5;
		color: #601979;
		font-weight: bolder;
		padding: 20%;
		margin-right: 3.5rem;
		margin-left: -1.5rem;
	}

	.imagem{
		padding: auto;

	}
	.botao {
		padding-left: auto;
		padding-right: auto;
		margin-top: 0;
		padding: 0;
		width: 80px;
		height: 30px;
		
	}
	#btnVolta{
		padding-top: 20rem;
	}
	.sobreNosTexto {
		font-size: 15px;
	}

	#img2, #img3 {
		display: none;
	}

	.ConteinerImg{
		max-width: 100%;
		border-radius: 25px;
	}

	.ConteinerImg img {
		width: 100%;
		border-radius: 25px;
	}

	.botao {
		margin-top: 0;
		height: 30px;
		width: 80px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	.horario {
		text-align: center;
	}
	
	.horario section {
		display: flex;
		flex-direction: column;
	}
	
	.horario section section {
		width: 90%;
		height: 100px;
		border-radius: 25px;
		background-color: #AB58A5;
		margin-bottom: 10px;
	}
	
	.dia {
		color: #ffffff;
		font-size: 15px;
		margin-bottom: 0;
	}
	
	.periodo {
		color: #6F0984;
		font-size: 20px;
		margin-top: 10px;
	}

	footer section img {
		width: 100px;
		height: 50px;
	}

	.contatos {
		font-size: 15px;
		padding-top: 0;
		margin-top: 15px;
	}
}

@media (max-width: 500px){
	.Logo {
		display: block;
		flex-grow: 1;
		margin-left: 0;
	}
}
